[Unit]
Description=Acknowledge currently assigned PagerDuty incidents

[Service]
Type=oneshot
WorkingDirectory=%h/pagerduty-auto-ack
EnvironmentFile=%h/.config/pagerduty-auto-ack.env
ExecStart=/usr/bin/python -m pagerduty_auto_ack --once
